<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>Face Attendance</title>
  <link rel="stylesheet" href="{{ static('css/client/base.css') }}">
  {% block css %}{% endblock %}
  {% block scripts %}{% endblock %}
</head>
<body>
  <div class="navbar-wrapper">
    <div class="navbar">
      <li class="left">
        Logout
      </li>
      <li class="right">
        Logout
      </li>
    </div>
  </div>
  {% block content %}{% endblock %}
</body>
</html>