<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>Face Attendance</title>
  <link rel="stylesheet" href="{{ static('css/client/base.css') }}">
  {% block css %}{% endblock %}
  {% block scripts %}{% endblock %}
</head>
<body>
  <div class="navbar-wrapper">
    <div class="navbar">
      <li class="left">
        ATTENDANCE
      </li>
      {% if request.user.is_authenticated %}
        <li class="right">
          <a href="{{ url('LogOut') }}" class="no-line">Logout</a>
        </li>
        <li class="right">
          {{ request.user.username }}
        </li>
      {% else %}
        <li class="right">
          <a href="{{ url('Login') }}" class="no-line">Login</a>
        </li>
        <li class="right">
          <a href="{{ url('SignUp') }}" class="no-line" >Register</a>
        </li>
      {% endif %}
    </div>
  </div>
  {% block content %}{% endblock %}
</body>
</html>