<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>Face Attendance</title>
  <link rel="stylesheet" href="{{ static('css/client/base.css') }}">
  <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/alertify.min.css"/>
  <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/default.min.css"/>
  <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/semantic.min.css"/>
  <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/bootstrap.min.css"/>
  {% block css %}{% endblock %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  {% block scripts %}{% endblock %}
</head>
<body>
  <div class="navbar-wrapper">
    <div class="navbar">
      <li class="left">
        ATTENDANCE
      </li>
      {% if request.user.is_authenticated %}
        <li class="right">
          <a href="{{ url('LogOut') }}" class="no-line">Logout</a>
        </li>
        <li class="right">
          {{ request.user.username }}
        </li>
      {% else %}
        <li class="right">
          <a href="{{ url('Login') }}" class="no-line">Login</a>
        </li>
        <li class="right">
          <a href="{{ url('SignUp') }}" class="no-line" >Register</a>
        </li>
      {% endif %}
    </div>
  </div>

  <script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>

  {% block content %}{% endblock %}
</body>
</html>
