{% extends('client/base.html') %}

{% block css %}
  {{ super() }}
  <link rel="stylesheet" href="{{ static('css/client/home.css') }}">
{% endblock %}

{% block content %}
  <div class="content">
    <div class="card">
      <p>My Courses as a Teacher: </p>
      <div class="courses">
        <div class="add-course">
          <button class="call-dialog">
            Add a new course</button>
        </div>
        {% for course in supervised_courses %}
          <button  class="course" onclick="location.href = '{{ url('CourseDetail', kwargs={'pk': course.id}) }}';">{{ course.name }}</button>
        {% endfor %}
      </div>
    </div>
    <div class="card">
      <p>My Courses as a Student: </p>
      <div class="courses">
        <p class="status">Joined Courses</p>
        {% for entry in student_courses %}
          {% if entry.status == 1 %}
            <button  class="course">{{ entry.course.name }}</button>
          {% endif %}
        {% endfor %}
        <div style="margin-bottom: 1px solid grey;"></div>
        <p class="status">Pending Invitations:</p>
        {% for entry in student_courses %}
          {% if not entry.status %}
            <button  class="course">{{ entry.course.name }}</button>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}

{% block scripts %}
  {{ super() }}

  <script>
    $(document).ready(function(){
      $('button.call-dialog').on('click', function() {
        alertify.prompt("Add a new course", "", "English",
          function(evt, value ){
            $.ajax({
              url: '{{ url('APICourseCreate') }}',
              type: 'POST',
              data: {
                csrfmiddlewaretoken: '{{ csrf_token }}',
                name: value
              }
            }).then(
              function(data) {
                alertify.success('Course saved successfully');
                location.href = data.result;
              }, function(err) {
                alertify.error('Creation failed!');
              }
            );
          },
          function(){
            alertify.error('Cancel');
          }
        );
      });
    });

  $(document).ready(function() {
    {% if request.session.pop('course-added', False) %}
      alertify.success('Course added successfully');
    {% endif %}
   });

  </script>

{% endblock %}

