{% extends('client/base.html') %}

{% block css %}
  {{ super() }}
  <link rel="stylesheet" href="{{ static('css/client/sign_up.css') }}">
{% endblock %}

{% block content %}
  <div class="content">
    <div class="card">
      <form method="post" action="{{ url('SignUp') }}">
        {% for field in form %}
          <p style="text-align: center; display: flex; align-items: center;">
            {{ field.errors }}
            {{ field.label_tag() }}
            {{ field }}
          </p>
        {% endfor %}
        <button type="submit">Sign up</button>
        <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
      </form>
    </div>
  </div>
{% endblock %}
