body {
   max-width: 1024px;
   margin: 0 auto;
}

.navbar-wrapper {
   background-color: #f0f2f5;
   position: fixed;
   width: 100%;
   left: 0;
   right: 0;
   top: 0px;
   z-index: 100;
}

.navbar-wrapper .navbar {
    display: block;
    margin: 0 auto;
    max-width: 1024px;
    font-size: 20px;
}

.navbar .left{
    float: left;
    display: inline-block;
    margin: 1.5em 1.5em 1.5em 0;
}

.navbar .right{
    float: right;
    display: inline-block;
    margin: 1.5em 0 1.5em 1.5em;
    border: 1px solid grey;
    border-radius: 10px;
}

.no-line {
    text-decoration: none;
}

.content {
    -webkit-box-shadow: 0 0 5px 2px #F0F8FF;
    -moz-box-shadow: 0 0 5px 2px #F0F8FF;
    box-shadow: 0 0 5px 2px  #fff;
    background: #F0F8FF;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    top: 100px;
    border-radius: 5px;
    outline: none;
    padding: 5px;
    min-height: 82vh;
    width: 100%;
    position: relative;
}