.card {
    margin: 10%;
}

.course {
    text-align: center;
    border: 1px solid grey;
}

.add-student {
    text-align: left;
    margin: 5%;
}

#user-input {
    margin-left: 1em;
    font-size: 1.2em;
    border-radius: 20px;
}

.ui-autocomplete{
  z-index: 1065;
}

table {
  width: 90%;
  margin: 0 auto;
}

thead tr{
  background: #b3d9ff;
}

tbody tr:nth-child(even) {
  background: #CCC;
}

tbody tr:nth-child(odd) {
  background: #e6f2ff;
}